<div class="card p-2" style="background-color: #fff;">
	<div class="text-center">
		<h3 style="padding:0; margin: 0">{{category.BillingTypeName}}</h3>
		<p>{{category.BillingTypeDescription}}</p>
	</div>
	<div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
		<div>
			<a class="btn bg-indigo-300 btn-primary" (click)="open(content)"><i class="icon-plus2 mr-2"></i> Add New Item</a>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table text-nowrap" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
			<thead>
				<tr>
					<th style="width:5px; ">S/N</th>
					<th>Item</th>
					<!-- <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th> -->
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of items; let index=index;">
					<td>{{index+1}}</td>
					<td>
						<div class="d-flex align-items-center">
							<div>
								<a class="text-default font-weight-semibold">{{item.BillingTypeItemName}}</a>
							</div>
						</div>
					</td>
					<!-- <td class="text-center">
						<div class="list-icons">
							<div class="list-icons-item dropdown">
								<a class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item"><i class="icon-file-stats"></i> View </a>
									<a class="dropdown-item"><i class="icon-file-text2"></i> Edit </a>
									<a class="dropdown-item"><i class="icon-file-locked"></i> Disable</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item"><i class="icon-gear"></i> Settings</a>
								</div>
							</div>
						</div>
					</td> -->
				</tr>
			</tbody>
		</table>
	</div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add A New Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<div class="form-group">
		<input type="text" class="form-control" placeholder="Item Name" [(ngModel)]="newItem.name">
	</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveNewItem()">Save</button>
  </div>
</ng-template>