<div class="card p-2">
	<h3>New Profile Registration</h3>
	<div class="text-center" style="margin-bottom: 10px;">
		<h3 style="padding:0; margin: 0">{{subscription.PatientTypeName}}</h3>
		<p class="text-muted" style="padding:0; margin: 0">{{subscription.CategoryName}}</p>
		<p>{{subscription.FinancierUID}}</p>
	</div>
	<div class="row global-row">
		<div class="col-8">
			<div class="row">
				<div class="form-group col-sm-6">
					<label class="control-label">First Name</label>
					<input type="text" class="form-control" name="firstName" [(ngModel)]="newProfile['First Name']">
				</div>
				<div class="form-group col-sm-6">
					<label>Other Names</label>
					<input type="text" class="form-control" name="lastName" [(ngModel)]="newProfile['Last Name']">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label>Date Of Birth</label>
					<input type="date" class="form-control date" name="dateOfBirth" [(ngModel)]="newProfile['Date Of Birth']">
				</div>
				<div class="form-group col-sm-3">
					<label class="control-label">Gender</label>
					<span><br/></span>
					<label class="radio-inline">
						<input type="radio" name="gender" value="Male" class="styled" [(ngModel)]="newProfile['Gender']">
						Male
					</label>
					<span><br/></span>
					<label class="radio-inline">
						<input type="radio" name="gender" value="Female" class="styled" [(ngModel)]="newProfile['Gender']">
						Female
					</label>
				</div>
				<div class="form-group col-sm-3">
					<label class="control-label">Marital Status</label>
					<span><br/></span>
					<label class="radio-inline">
						<input type="radio" name="radio-inline-left" value="Single" class="styled" [(ngModel)]="newProfile['Marital Status']">
						Single
					</label>
					<span><br/></span>
					<label class="radio-inline">
						<input type="radio" name="radio-inline-left" value="Married" class="styled" [(ngModel)]="newProfile['Marital Status']">
						Married
					</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-7">
					<label class="control-label">Address</label>
					<input type="text" class="form-control" name="homeAddress" [(ngModel)]="newProfile['Home Address']">
				</div>
				<div class="form-group col-sm-5">
					<label class="control-label">Mother's Maiden Name</label>
					<input type="text" class="form-control" name="mothersMaidenName" [(ngModel)]="newProfile['Mothers Maiden Name']">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-4">
					<label class="control-label">Phone Number</label>
					<input class="form-control input-lg" type="tel" name="phoneNumber" [(ngModel)]="newProfile['Phone Number']"/>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label">Email Address</label>
					<input class="form-control input-lg" type="email" name="emailAddress" [(ngModel)]="newProfile['Email Address']"/>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label">Reference Contact</label>
					<input class="form-control input-lg" name="referenceContact" [(ngModel)]="newProfile['Reference Contact, Emergency']"/>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-4">
					<label class="control-label">State Of Origin</label>
					<span><br/></span>
					<select class="select form-control" name="stateOfOrigin" [(ngModel)]="newProfile['State Of Origin']">
						<option></option>
						<!-- <option ng-repeat="state in statesInNigeria" value="{{state.state.name}}">{{state.state.name}}</option> -->
					</select>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label">Local Govt. Area</label>
					<span><br/></span>
					<select class="select form-control" name="lga" [(ngModel)]="newProfile['LGA']">
						<option></option>
						<!-- <option ng-repeat="lga in lgasInState" value="{{lga.name}}">{{lga.name}}</option> -->
					</select>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label">State Of Residence</label>
					<span><br/></span>
					<select class="select form-control" name="stateOfResidence" [(ngModel)]="newProfile['State Of Residence']">
						<option></option>
						<!-- <option ng-repeat="state in statesInNigeria" value="{{state.state.name}}">{{state.state.name}}</option> -->
					</select>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-4">
					<label class="control-label">Religion</label>
					<span><br/></span>
					<select class="select form-control" name="religion" [(ngModel)]="newProfile['Religious Affiliation']">
						<option></option>
						<option value="christianity">Christianity</option>
						<option value="catholic">Catholic</option>
						<option value="islam">Islam</option>
						<option value="others">Others</option>
					</select>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label">Occupation</label>
					<input class="form-control input-lg" name="occupation" [(ngModel)]="newProfile['Occupation']"/>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label">Tribe</label>
					<input class="form-control" type="text" name="tribe" [(ngModel)]="newProfile['Tribe']"/>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="form-group">
				<label class="control-label">Upload Picture</label>
				<div class="panel-body" id="camera">
					<img src="assets/images/passport-placeholder.png" class="img img-responsive" style="width:100% !important; height: 100% !important;"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Upload Identification Document</label>
				<input type="file" class="file-styled-primary"/>
				<img class="img img-responsive"/>
			</div>
		</div>
		<div class="col-12" style="margin-top: 20px">
			<button class="btn btn-success btn-lg float-right" (click)="saveNewProfile()">
				<span class="hide loader pull-left">
					<i class="fa fa-spinner fa-spin"></i>
				</span>
			 	Submit
			</button>
		</div>
	</div>
</div>