<div class="row global-row">
	<div class="col-md-12">
		<div class="card p-2" style="background-color: transparent;">
			<div class="card-header header-elements-sm-inline">
				<h2 class="card-title">Dashboard</h2>
				<!-- <div class="header-elements"> -->
					<!-- <span class="badge bg-success badge-pill">{{subscriptions.length}} active</span> -->
		    	<!-- </div> -->
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-md-3">
						<div class="card text-center" (click)='clicked()'>
							<div class="card-header text-center border-bottom-0 bg-transparent text-info pt-4">
								<h5>Claims</h5>
							</div>
							<div class="card-body">
								<h1>$299</h1>
								<h5 class="text-muted">
									<small>Taxes per Month</small>
								</h5>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<i class="fas fa-male text-success mx-2"></i>Real-time fee reporting
								</li>
								<li class="list-group-item">
									<i class="fas fa-venus text-success mx-2"></i>Pay only for what you use
								</li>
								<li class="list-group-item">
									<i class="fas fa-gavel text-success mx-2"></i> No setup, monthly, or hidden fees
								</li>
							</ul>
							<div class="card-footer border-top-0">
								<a href="#" class="text-muted text-uppercase">
									Create Account <i class="fas fa-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card text-center" (click)='clicked()'>
							<div class="card-header text-center border-bottom-0 bg-transparent text-info pt-4">
								<h5>Packages</h5>
							</div>
							<div class="card-body">
								<h1>$299</h1>
								<h5 class="text-muted">
									<small>Taxes per Month</small>
								</h5>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<i class="fas fa-male text-success mx-2"></i>Real-time fee reporting
								</li>
								<li class="list-group-item">
									<i class="fas fa-venus text-success mx-2"></i>Pay only for what you use
								</li>
								<li class="list-group-item">
									<i class="fas fa-gavel text-success mx-2"></i> No setup, monthly, or hidden fees
								</li>
							</ul>
							<div class="card-footer border-top-0">
								<a href="#" class="text-muted text-uppercase">
									Create Account <i class="fas fa-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card text-center" (click)='clicked()'>
							<div class="card-header text-center border-bottom-0 bg-transparent text-success pt-4">
								<h5>Subscrriptions</h5>
							</div>
							<div class="card-body">
								<h1>$299</h1>
								<h5 class="text-muted">
									<small>Taxes per Month</small>
								</h5>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<i class="fas fa-male text-success mx-2"></i>Real-time fee reporting
								</li>
								<li class="list-group-item">
									<i class="fas fa-venus text-success mx-2"></i>Pay only for what you use
								</li>
								<li class="list-group-item">
									<i class="fas fa-gavel text-success mx-2"></i> No setup, monthly, or hidden fees
								</li>
							</ul>
							<div class="card-footer border-top-0">
								<a href="#" class="text-muted text-uppercase">
									Create Account <i class="fas fa-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card text-center" (click)='clicked()'>
							<div class="card-header text-center border-bottom-0 bg-transparent text-success pt-4">
								<h5>Provides</h5>
							</div>
							<div class="card-body">
								<h1>$299</h1>
								<h5 class="text-muted">
									<small>Taxes per Month</small>
								</h5>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<i class="fas fa-male text-success mx-2"></i>Real-time fee reporting
								</li>
								<li class="list-group-item">
									<i class="fas fa-venus text-success mx-2"></i>Pay only for what you use
								</li>
								<li class="list-group-item">
									<i class="fas fa-gavel text-success mx-2"></i> No setup, monthly, or hidden fees
								</li>
							</ul>
							<div class="card-footer border-top-0">
								<a href="#" class="text-muted text-uppercase">
									Create Account <i class="fas fa-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>