<div class="card p-2" style="background-color: #fff;">
    <div class="text-center">
        <h3 style="padding:0; margin: 0">{{package.CategoryName}}</h3>
        <p>{{package.CategoryDescription}}</p>
    </div>
    <div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
        <div>
            <a class="btn bg-indigo-300 btn-primary" (click)="open(content)"><i class="icon-plus2 mr-2"></i> Add service</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table text-nowrap" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th style="width:5px; ">S/N</th>
                    <th>Item</th>
                    <th>Service Category</th>
                    <!-- <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let service of services; let index=index;">
                    <td>{{index+1}}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div>
                                <a class="text-default font-weight-semibold">{{service.BillingTypeItemName}}</a>
                            </div>
                        </div>
                    </td>
                    <td>{{service.BillingTypeName}}</td>
                    <!-- <td class="text-center">
                        <div class="list-icons">
                            <div class="list-icons-item dropdown">
                                <a class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="icon-file-stats"></i> View </a>
                                    <a class="dropdown-item"><i class="icon-file-text2"></i> Edit </a>
                                    <a class="dropdown-item"><i class="icon-file-locked"></i> Disable</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"><i class="icon-gear"></i> Settings</a>
                                </div>
                            </div>
                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Service Coverage</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <select class="form-control" name="serviceSelector" [(ngModel)]="selectedCategory" (change)="loadItems()">
            <option>Select Service Category</option>
            <option *ngFor="let category of serviceCategories" value="{{category.BillingTypeID}}">
                {{category.BillingTypeName}}
            </option>
        </select>
    </div>
    <div class="col-12">
        <div class="form-group col-3">
            <input type="text" class="form-control" placeholder="filter" name="itemFilter"/>
        </div>
        <div class="table-responsive" style="min-height: 50vh !important;">
            <table class="table table-borderless">
                <thead>
                    <th>Item ID</th>
                    <th>Item</th>
                    <th>
                        <input class="" type="checkbox" name="check-main" (click)="toggleAllChecks()" [(ngModel)]="globalCheck"/> 
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items; let index=index">
                        <td>{{item.BillingTypeItemID}}</td>
                        <td>{{item.BillingTypeItemName}}</td>
                        <td>
                           <input class="" type="checkbox" name="check-{{index}}" [(ngModel)]="itemList[item.BillingTypeItemID]"/> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addServiceCoverage()">Save</button>
  </div>
</ng-template>