<div class="row global-row">
	<div class="col-md-12">
		<div class="card p-2" style="background-color: transparent;">
			<div class="card-header header-elements-sm-inline">
				<h2 class="card-title">Insurance Packages</h2>
				<div class="header-elements">
					<span class="badge bg-success badge-pill">{{packages.length}} active</span>
      	</div>
			</div>

			<div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
				<div>
					<a class="btn bg-indigo-300 btn-primary" (click)="open(content)"><i class="icon-plus2 mr-2"></i> Add Package</a>
				</div>
			</div>

			<div class="row">
				<div class="col-5">
					<div class="table-responsive" style="background-color: #fff;">
						<table class="table text-nowrap" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
							<thead>
								<tr>
									<th>S/N</th>
									<th>Package</th>
									<th>Subscriptions</th>
									<th>Cost</th>
									<th>Status</th>
									<!-- <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th> -->
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let package of packages; let index=index;" (click)="selectedPackage = package">
									<td>{{index+1}}</td>
									<td>
										<div class="d-flex align-items-center">
											<div>
												<a class="text-default font-weight-semibold">{{package.CategoryName}}</a>
											</div>
										</div>
									</td>
									<td><span class="mr-2"> </span></td>
									<td><h6 class="font-weight-semibold mb-0"></h6></td>
									<td><span class="badge bg-blue">Active</span></td>
									<!-- <td class="text-center">
										<div class="list-icons">
											<div class="list-icons-item dropdown">
												<a class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item"><i class="icon-file-stats"></i> View </a>
													<a class="dropdown-item"><i class="icon-file-text2"></i> Edit </a>
													<a class="dropdown-item"><i class="icon-file-locked"></i> Disable</a>
													<div class="dropdown-divider"></div>
													<a class="dropdown-item"><i class="icon-gear"></i> Settings</a>
												</div>
											</div>
										</div>
									</td> -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-7" *ngIf="!selectedPackage">
					<p class="text-center">Please select a package to view services coverage</p>
				</div>
				<div class="col-7" *ngIf="selectedPackage">
					<ul class="nav nav-tabs nav-tabs-highlight nav-justified">
						<li class="nav-item"><a href="#view-services" class="nav-link active" data-toggle="tab">Service Coverage</a></li>
						<li class="nav-item"><a href="#view-rules" class="nav-link" data-toggle="tab">Package Rules</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane fade show active" id="view-services">
							<app-view-service-coverage [package]="selectedPackage"></app-view-service-coverage>
						</div>

						<div class="tab-pane fade" id="view-rules">
							<p>Coming soon!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add A New Package</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<div class="form-group">
		<input type="text" class="form-control" placeholder="Package Name" [(ngModel)]="newPackage.packageName">
	</div>
  	<div class="form-group">
		<input type="number" class="form-control" placeholder="Package Cost" [(ngModel)]="newPackage.packageCost">
	</div>
  	<div class="form-group">
		<textarea type="text" class="form-control" placeholder="Package Description" [(ngModel)]="newPackage.packageDescription"></textarea>
	</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveNewPackage()">Save</button>
  </div>
</ng-template>