<!-- <p>process-claims works!</p>
<div class="row">
    <div class="col-12 text-right">
        <span class="btn btn-info" style="padding-rght: 10px;">
            Approve Selections
        </span>
        <span class="btn btn-success" style="padding-left: 10px;">
            Approve All
        </span>
        <span class="btn btn-warning">
            Reject All
        </span>
    </div>
<div class="row">
    <div class="col-xl-6 col-sm-6 col-12" *ngFor="let datum of data; let index=index">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
              <div class="row">
                <p class="col-12">
                    <span class="float-left bg-info" style="padding: 10px; font-size: 1.2em;">Service </span> <span class="float-right" style="padding: 10px; font-size: 1.2em;">{{datum.Service}}</span>
                </p>
                <p class="col-12">
                    <span class="float-left bg-info" style="padding: 10px; font-size: 1.2em;">Dose  </span> <span class="float-right" style="padding: 10px; font-size: 1.2em;">{{datum.Dose}}</span>
                </p>
                <p class="col-12">
                    <span class="float-left bg-info" style="padding: 10px; font-size: 1.2em;">Cost </span> <span class="float-right" style="padding: 10px; font-size: 1.2em;">{{datum.Cost}}</span>
                </p>
              </div>
          </div>
          <div class="card-footer">
              <button class="btn btn-info btn-lg" (click)="approve($event)">Approve</button>
              <button class="btn btn-danger btn-lg float-right" (click)="reject($event)">Reject</button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="warning">156</h3>
                <span>New Comments</span>
              </div>
              <div class="align-self-center">
                <i class="icon-bubbles warning font-large-2 float-right"></i>
              </div>
            </div>
            <div class="progress mt-1 mb-0" style="height: 7px;">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="success">64.89 %</h3>
                <span>Bounce Rate</span>
              </div>
              <div class="align-self-center">
                <i class="icon-cup success font-large-2 float-right"></i>
              </div>
            </div>
            <div class="progress mt-1 mb-0" style="height: 7px;">
              <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="danger">423</h3>
                <span>Total Visits</span>
              </div>
              <div class="align-self-center">
                <i class="icon-direction danger font-large-2 float-right"></i>
              </div>
            </div>
            <div class="progress mt-1 mb-0" style="height: 7px;">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
