<div class="card p-2" style="background-color: transparent;">
	<div class="card-header header-elements-sm-inline">
		<h2 class="card-title">Subscriptions</h2>
		<div class="header-elements">
			<span class="badge bg-success badge-pill">{{subscriptions.length}} active</span>
    	</div>
	</div>

	<div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
		<div>
			<a class="btn bg-indigo-300 btn-primary" (click)="open(content)"><i class="icon-plus2 mr-2"></i> Start New Subscription</a>
		</div>
	</div>

	<div class="table-responsive"  style="background-color: #fff; min-height: 100vh;">
		<table class="table text-nowrap" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
			<thead>
				<tr>
					<th>S/N</th>
					<th>Insurance ID</th>
					<th>Package</th>
					<th>Financier</th>
					<!-- <th>Date Created</th> -->
					<!-- <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th> -->
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let subscription of subscriptions; let index=index;">
					<td>{{index+1}}</td>
					<td>
						<div class="d-flex align-items-center">
							<div>
								<a class="text-default font-weight-semibold">{{subscription.PatientTypeName}}</a>
							</div>
						</div>
					</td>
					<td><span>{{subscription.CategoryName}}</span></td>
					<td>{{subscription.FinancierUID}}</td>
					<!-- <td>{{subscription.DateCreated}}</td> -->
					<!-- <td class="text-center">
						<div class="list-icons">
							<div class="list-icons-item dropdown">
								<a class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item"><i class="icon-file-stats"></i> View </a>
									<a class="dropdown-item"><i class="icon-file-text2"></i> Edit </a>
									<a class="dropdown-item"><i class="icon-file-locked"></i> Disable</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item"><i class="icon-gear"></i> Settings</a>
								</div>
							</div>
						</div>
					</td> -->
				</tr>
			</tbody>
		</table>
	</div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Start A New Subscription</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<div class="form-group">
  		<label class="control-label">Financier</label>
		<select class="form-control" [(ngModel)]="newSubscription.financier">
			<option *ngFor="let financier of financiers;" value="{{financier.FinancierID}}">{{financier.FinancierUID}}</option>
		</select>
	</div>
  	<div class="form-group">
  		<label class="control-label">Package</label>
		<select class="form-control" [(ngModel)]="newSubscription.planId">
			<option *ngFor="let package of packages;" value="{{package.CategoryName}}">{{package.CategoryName}}</option>
		</select>
	</div>
  	<div class="form-group">
  		<label class="control-label">Subscription Note</label>
		<input type="text" class="form-control" placeholder="Subscription note" [(ngModel)]="newSubscription.planDescription">
	</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveNewSubscription()">Save</button>
  </div>
</ng-template>