<p>claims works!</p>
<div class="row global-row">
	<div class="col-md-12">
		<!-- Marketing campaigns -->
		<div class="card p-2" style="background-color: transparent;">
			<div class="card-header header-elements-sm-inline">
                <div class="header-elements"  *ngIf="viewApprovalRequests">
					<span class="btn btn-info" (click)="clearSelections();">
                        <i class="bi bi-arrow-return-left"></i>
                        Back
                    </span>
            	</div>
				<h2 class="card-title">Claims</h2>
				<div class="header-elements" >
					<span class="badge bg-danger badge-pill">4 Pending Claims</span>
            	</div>
			</div>
            <!-- Claim Analytics -->
            <div class="row" *ngIf="!viewApprovalRequests">
                <div class="col-xl-3 col-sm-6 col-12" style="cursor: pointer;" (click)="viewApprovalRequests = true;"> 
                    <div class="card bg-danger">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="icon-pencil primary font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h3>278</h3>
                                    <span>New Claims</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12" style="cursor: pointer;">
                    <div class="card bg-success">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="align-self-center">
                                        <i class="icon-speech warning font-large-2 float-left"></i> 
                                    </div>
                                    <div class="media-body text-right">
                                        <h3>156</h3>
                                        <span>Claims Processed</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12" style="cursor: pointer;">
                    <div class="card bg-warning">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="align-self-center">
                                        <i class="icon-graph success font-large-2 float-left"></i>
                                    </div>
                                    <div class="media-body text-right">
                                        <h3>20 </h3>
                                        <span>Totally Claims Rejected</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12" style="cursor: pointer;">
                    <div class="card bg-dark">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="align-self-center">
                                        <i class="icon-pointer danger font-large-2 float-left"></i>
                                    </div>
                                    <div class="media-body text-right">
                                        <h3>423</h3>
                                        <span>Invalid Claims</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
        <div class="row">
            <div class="text-info" style="display: none; margin-left: 20px; width: 100%;" id="toggler">
            <div class="text-info" style="display: none; margin-left: 20px; width: 100%;" id="toggler" (click)="toggleClaimList()">
                <span>
                    <i class="icon-menu7"></i>
                </span>
            </div>
            
            <div class="col-12" *ngIf="viewApprovalRequests" id="claimsList">
                <app-approval-requests (selectedClaimOutput)="getSelectedClaim($event);"></app-approval-requests>
            </div>
            <!-- <div class="col-12" *ngIf="selectedClaim" id="claimDetail">
                <app-process-claims [claim]="selectedClaim"></app-process-claims>
            </div> -->
        </div>
	</div>
</div>
            <div class="col-5" *ngIf="viewApprovalRequests" id="claimsList">
                <app-approval-requests (selectedClaimOutput)="getSelectedClaim($event);"></app-approval-requests>
            </div>
            <div class="col-12" *ngIf="selectedClaim" id="claimDetail">
                <app-process-claims [claim]="selectedClaim"></app-process-claims>
            </div>
        </div>
	</div>
</div>