<div class="col-md-12">
	<div class="text-center">
		<h3 style="padding:0; margin: 0">{{subscription.PatientTypeName}}</h3>
		<p class="text-muted" style="padding:0; margin: 0">{{subscription.CategoryName}}</p>
		<p>{{subscription.FinancierUID}}</p>
	</div>
	<div class="table-responsive"  style="background-color: #fff; min-height: 100vh;">
		<table class="table text-nowrap" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
			<thead>
				<tr>
					<th width="10px">S/N</th>
					<th>Profile</th>
					<th>Profile Name</th>
					<th>Email Address</th>
					<th>Phone Number</th>
					<th class="text-center"><i class="icon-arrow-down12"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let patient of patients; let index=index;">
					<td>{{index+1}}</td>
					<td>
						<div class="d-flex align-items-center">
							<div>
								<p class="text-success m-0 p-0" *ngIf="patient.patientid == primaryAccount.PatientID">Account Holder</p>
								<p class="text-info m-0 p-0" *ngIf="patient.patientid != primaryAccount.PatientID">Dependent</p>
								<a class="text-default font-weight-semibold">{{patient.patientuuid}}</a>
							</div>
						</div>
					</td>
					<td>{{patient.patientfullname}}</td>
					<td>{{patient['email address']}}</td>
					<td>{{patient['phone number']}}</td>
					<td class="text-center">
						<div class="list-icons">
							<div class="list-icons-item dropdown">
								<a class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
								<div class="dropdown-menu dropdown-menu-right">
									<!-- <a class="dropdown-item"><i class="icon-file-stats"></i> View </a>
									<a class="dropdown-item"><i class="icon-file-text2"></i> Edit </a>
									<a class="dropdown-item"><i class="icon-file-locked"></i> Disable</a>
									<div class="dropdown-divider"></div> -->
									<a class="dropdown-item" (click)="setPrimaryAccount(patient.patientid)"><i class="icon-user"></i> Convert to primary account holder</a>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>